---
no-social: true
title: Home
subtitle: The cloud management company
image: /assets/images/header_images/header_slider_001_resized.jpg
---
<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
<section class="c-layout-revo-slider c-layout-revo-slider-4" dir="ltr">
  <div class="tp-banner-container c-theme">
    <div class="tp-banner rev_slider" data-version="5.0">
      <ul>
        <!--BEGIN: SLIDE #1 -->
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
          <img  src="/assets/images/header_images/header_slider_001_resized.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
          <div id="slider_custom_fix" class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
          data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
          <h3 style="text-align: center;"><b class="c-font-uppercase"><br>managing your<br>cloud enterprise</b></h3>
        </div>
        <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
        data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;">
        <a href="/about" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase" style="letter-spacing: 1px;">Learn More</a>
      </div>
    </li>
    <!--END -->
    <!--BEGIN: SLIDE #2 -->
    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
      <img  src="/assets/images/header_images/header_slider_002_resized.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
      <div id="slider_custom_fix" class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
      data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
      <h3 style="text-align: center;"><b class="c-font-uppercase"><br>The cloud<br>management company</b></h3>
    </div>
    <div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
    data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;">
    <a href="/assets/datasheet/cloud_services_data_sheet.pdf" target="_blank" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase" style="letter-spacing: 1px;">DOWNLOAD DATA SHEET</a>
  </div>
</li>
<!--END -->
<!--BEGIN: SLIDE #3 -->
<li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
  <img  src="/assets/images/event_images/race/race_main_resized.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
  <div id="slider_custom_fix" class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
  data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
  <h3 style="text-align: center;"><b class="c-font-uppercase"><br>Race to the Cloud 2.0</b></h3>
</div>
<div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;">
<a href="/events/race" class="c-action-btn btn c-font-uppercase btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase" style="letter-spacing: 1px;">See Event</a>
</div>
</li>
<!--END -->
</ul>
</div>
</div>
</section>
<!-- END: LAYOUT/SLIDERS/REVO-SLIDER-4 -->

<!-- BEGIN: CONTENT/MISC/SERVICES-3 -->
<div class="c-content-box c-size-md c-bg-white" style=" padding:60px 0 20px 0;">
  <div class="container">
    <div class="c-content-feature-2-grid">
      <div class="c-content-title-1">
        <h3 class="c-center c-font-uppercase c-font-bold" style="color:#464646 !important; padding-top:0px;">Solutions</h3>
        <div class="c-line-center"></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <style>
          </style>
          <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
            <a href="/solutions/cloud_advisory_solutions">
              <div id="solutioniconholder">
                <div id="solutionicon"><img src="/assets/images/solutions_icons/icon_cas.png" /></div>
              </div>
              <h3 class="c-font-uppercase c-title">Cloud Advisory<br/>Solutions</h3>
              <p>Develop a Cloud strategy that’s right for your business</p>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
            <a href="/solutions/functional_application_solutions">
              <div id="solutioniconholder">
                <div id="solutionicon"><img src="/assets/images/solutions_icons/icon_fas.png" /></div>
              </div>
              <h3 class="c-font-uppercase c-title">Functional Application<br/>Solutions</h3>
              <p>Optimize business processes and real-time systems</p>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
            <a href="/solutions/multi-cloud_workload_management_solutions">
              <div id="solutioniconholder">
                <div id="solutionicon"><img src="/assets/images/solutions_icons/icon_mcwm.png" /></div>
              </div>
              <h3 class="c-font-uppercase c-title">Multi-Cloud Workload<br/>Management Solutions</h3>
              <p>Coordinate multi-cloud architecture to maximize time to value and minimize operational risk</p>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
            <a href="/solutions/risk-free_workload_migrations_solutions">
              <div id="solutioniconholder">
                <div id="solutionicon"><img src="/assets/images/solutions_icons/icon_rfwm.png" /></div>
              </div>
              <h3 class="c-font-uppercase c-title">Risk-Free Workload<br/>Migrations Solutions</h3>
              <p>Transition workloads to the cloud quickly and seamlessly</p>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
            <a href="/solutions/software_asset_management_solutions">
              <div id="solutioniconholder">
                <div id="solutionicon"><img src="/assets/images/solutions_icons/icon_srm.png" /></div>
              </div>
              <h3 class="c-font-uppercase c-title">Software Asset<br/>Management Solutions</h3>
              <p>Optimize Oracle software license investments and mitigate risk</p>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
            <a href="/solutions/engineered_systems_solutions">
              <div id="solutioniconholder">
                <div id="solutionicon"><img src="/assets/images/solutions_icons/icon_ess.png" /></div>
              </div>
              <h3 class="c-font-uppercase c-title">Engineered<br/>Systems Solutions</h3>
              <p>Deploy with confidence and control with Oracle’s Engineered System</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- END: CONTENT/MISC/SERVICES-3 -->


<!-- BEGIN: CONTENT/TABS/TAB-1 -->
<div class="c-content-box c-size-md c-no-bottom-padding c-overflow-hide" style=" padding-top: 0px;">
  <div class="c-container" style="background-color:#1ccfc9; padding-top:35px;">
    <div class="row">
      <div class="col-md-12">
        <div class="c-content-title-1">
          <h3 class="c-font-34 c-font-center c-font-uppercase c-margin-b-30 c-font-bold" style="color:#ffffff !important; padding-top:0px;">Cloud Journey</h3>
          <div class="c-line-center-darkgrey"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="c-content-tab-2 c-theme c-opt-1">
          <ul class="nav c-tab-icon-stack c-font-sbold c-font-uppercase">
            <li class="active">
              <a href="#c-tab2-opt1-1" data-toggle="tab">
                <span class="c-content-line-icon">
                  <div id="cloudiconholder">
                    <div id="cloudicon"><img src="/assets/images/journey_images/icon_str.png" /></div>
                  </div></span>
                  <span class="c-title c-font-white" style="margin-top:0px;">Strategy & Planning</span>
                </a>
                <div class="c-arrow"></div>
              </li>
              <li>
                <a href="#c-tab2-opt1-2" data-toggle="tab">
                  <span class="c-content-line-icon">
                    <div id="cloudiconholder">
                      <div id="cloudicon"><img src="/assets/images/journey_images/icon_mig.png" /></div>
                    </div></span>
                    <span class="c-title c-font-white" style="margin-top:0px;">Migration</span>
                  </a>
                  <div class="c-arrow"></div>
                </li>
                <li>
                  <a href="#c-tab2-opt1-3" data-toggle="tab">
                    <span class="c-content-line-icon">
                      <div id="cloudiconholder">
                        <div id="cloudicon"><img src="/assets/images/journey_images/icon_int.png" /></div>
                      </div></span>
                      <span class="c-title c-font-white" style="margin-top:0px;">Integration</span>
                    </a>
                    <div class="c-arrow"></div>
                  </li>
                  <li>
                    <a href="#c-tab2-opt1-4" data-toggle="tab">
                      <span class="c-content-line-icon">
                        <div id="cloudiconholder">
                          <div id="cloudicon"><img src="/assets/images/journey_images/icon_man.png" /></div>
                        </div></span>
                        <span class="c-title c-font-white" style="margin-top:0px;">Management</span>
                      </a>
                      <div class="c-arrow"></div>
                    </li>
                  </ul>
                  <div class="c-tab-content">
                    <div class="c-bg-img-center1" style="background-color:#464646;">
                      <div class="container">
                        <div class="tab-content" style=" padding:20px 0 40px 0;">
                          <div class="tab-pane fade in active" id="c-tab2-opt1-1">
                            <div class="c-tab-pane" id="journeycloudimgfix">
                              <style>
                              @media (max-width: 991px) {
                                #journeycloudimgfix img {style="width: 100%;" }
                              }
                              @media (max-width: 767px) {
                                #journeycloudimgfix img {style="width: 100%;" }
                              }
                              </style>
                              <img class="img-responsive" src="/assets/images/journey_images/cloud_cs_resized.jpg"  style="max-width: 540px;" />
                              <p class="c-font-17 c-margin-t-40 c-font-thin" >
                                Data Intensity helps you overcome the challenges you face in your cloud journey, from planning constraints and workload priority, to cloud adoption choices aligned with business processes. We identify the right cloud technologies to deliver faster time to value, reduced costs, and a predictable path to achieve your business outcomes.

                              </p>
                              <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold" style="display: none;"> FIND OUR MORE </button>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="c-tab2-opt1-2">
                            <div class="c-tab-pane" id="journeycloudimgfix">
                              <img class="img-responsive" src="/assets/images/journey_images/cloud_mig_resized.jpg"  style="max-width: 540px;" />
                              <p class="c-font-17 c-margin-t-40 c-font-thin " >
                                Data Intensity helps you rapidly map applications and infrastructure to determine the right migration path by providing integrated services from discovery through planning to workload migration and on-going operations. You’ll be able to migrate and modernize applications, build new cloud-based apps and transform your infrastructure.   Our focus on workload migration is to ‘move and improve’.
                              </p>
                              <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold" style="display: none;">
                                FIND OUR MORE </button>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="c-tab2-opt1-3">
                              <div class="c-tab-pane" id="journeycloudimgfix">
                                <img class="img-responsive" src="/assets/images/journey_images/cloud_int.jpg"  style="max-width: 540px;" />
                                <p class="c-font-17 c-margin-t-40 c-font-thin ">
                                  Data Intensity helps you reap the benefits of integration that can extend beyond connecting different applications and helping automate operations. In addition to optimizing your business processes, we help you create operational efficiencies, understand your workload capabilities better, and ultimately cultivate new revenue streams that offer real business advantage.
                                </p>
                                <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold" style="display: none;">
                                  FIND OUR MORE </button>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="c-tab2-opt1-4">
                                <div class="c-tab-pane" id="journeycloudimgfix">
                                  <img class="img-responsive" src="/assets/images/journey_images/cloud_man_resized.jpg"  style="max-width: 540px;" />
                                  <p class="c-font-17 c-margin-t-40 c-font-thin ">
                                    Data Intensity helps you easily manage, control, and operate your workloads for optimal cost management, governance/compliance and improved service delivery to the business all from single pane of glass across your entire cloud landscape.  We easily integrate with your operational processes and ticketing systems to ensure smooth operation of your workloads so you can focus on the strategic direction of your business.
                                  </p>
                                  <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold" style="display: none;"> FIND OUR MORE </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END: CONTENT/TABS/TAB-1 -->


            <!-- BEGIN: CONTENT/STATS/COUNTER-1 -->
            <div class="c-content-box c-size-md c-bg-white">
              <div class="container">
                <div class="c-content-counter-1 c-opt-1">
                  <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold" style="color:#464646 !important;">Data Intensity Milestones</h3>
                    <div class="c-line-center"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="c-counter c-theme-border c-font-bold c-theme-font" data-counter="counterup"  style="color:#464646;">15,000</div>
                      <h4 class="c-title c-first c-font-uppercase c-font-bold">Managed Environments</h4>
                    </div>
                    <div class="col-md-4">
                      <div class="c-counter c-theme-border c-font-bold c-theme-font" data-counter="counterup"  style="color:#464646;">3,225</div>
                      <h4 class="c-title c-font-uppercase c-font-bold">Implementations Supported</h4>
                    </div>
                    <div class="col-md-4">
                      <div class="c-counter c-theme-border c-font-bold c-theme-font" data-counter="counterup"  style="color:#464646;">200</div>
                      <h4 class="c-title c-font-uppercase c-font-bold">Cloud Migrations</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END: CONTENT/STATS/COUNTER-1 -->

            {% include tiles.html %}
            {% include subscribe.html %}
            {% include testimonial.html

              title="let's see what our customers say"

              text01="Without Data Intensity as our hosting partner, there’s no way that my staffing level could remain as stable as it has been over this amount of time. Data Intensity is really an extension of our staff and part of our company. I don’t know what I would do without them; overall I would give them an ‘A+.’"
              client01="Jerry Herman, Senior Manager of Corporate Systems, Sunflower Electric"

              text02="Data Intensity’s expertise in Hybrid Cloud helped us optimize our existing infrastructure yet deliver greater scalability, security, and response time to our global organization."
              client02="VP, IT, Financial Services"

              text03="They have proved themselves many times over – we have tested the market for price and stayed with Data Intensity; we have looked at alternative technologies and stayed with Data Intensity – and we are happy that a short-term fix has turned into a long-term relationship."
              client03="Martin Sinclair, Technical Manager, e-Learning for Health"

              text04="Data Intensity has exceptional knowledge and a deep bench of professionals with 24x7 global support, making them an excellent match for Haemonetics."
              client04="Tony Gazikas, VP and CIO, Haemonetics"
              %}
              <style>
              .owl-carousel.c-theme .owl-controls .owl-dot:hover {background: #464646;}
              .owl-carousel.c-theme .owl-controls .owl-dot.active {background: #1ccfc9;}
              .c-content-box.c-size-lg {background-color: #f7f7f7 !important;}
              .c-content-title-1 > h3.c-font-uppercase {color: #464646 !important;}
              .c-content-testimonials-1 .c-testimonial > p {color: #464646 !important;}
              .c-content-testimonials-1 .c-testimonial > h3 {color: #464646 !important;}
              .c-content-title-1 > .c-line-center {background-color: #1ccfc9 !important;}
              </style>


              <!-- BEGIN: CONTENT/FEATURES/FEATURES-1 -->
              <div class="c-content-box c-size-md c-bg-white" style="padding-bottom:60px;">
                <div class="container">
                  <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold" style="color:#464646; padding-top:0px;">PROFESSIONAL & MANAGED SERVICES</h3>
                    <div class="c-line-center"></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4">

                      <a href="/services/professional_services/#minids">
                        <div class="c-content-feature-1 wow animate fadeInUp">
                          <div id="servicesiconholder" style="margin-top: 0px;">
                            <div id="servicesicon"><img src="/assets/images/services_icons/icon_ds.png" /></div>
                          </div>
                          <h3 class="c-font-bold c-center c-font-uppercase">Discovery<br/>Services</h3>
                          <p class="c-font-thin c-center">Providing visibility and planning to mitigate current state challenges</p>
                        </div>
                      </a>
                    </div>

                    <div class="col-sm-4">
                      <a href="/services/professional_services/#minims">
                        <div class="c-content-feature-1 wow animate fadeInUp">
                          <div id="servicesiconholder" style="margin-top: 0px;">
                            <div id="servicesicon"><img src="/assets/images/services_icons/icon_ms.png" /></div>
                          </div>
                          <h3 class="c-font-bold c-center c-font-uppercase">Migration<br/>Services</h3>
                          <p class="c-font-thin c-center">Design, Implementation and Support of current state workloads to future state platforms</p>
                        </div>
                      </a>
                    </div>

                    <div class="col-sm-4 c-card">
                      <a href="/services/professional_services/#miniis">
                        <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.4s">
                          <div id="servicesiconholder" style="margin-top: 0px;">
                            <div id="servicesicon"><img src="/assets/images/services_icons/icon_is.png" /></div>
                          </div>
                          <h3 class="c-font-bold c-center c-font-uppercase">Integration<br/>Services</h3>
                          <p class="c-font-thin c-center">Application, Data & Support integration to support your enterprise workloads for hybrid cloud deployment strategy</p>
                        </div>
                      </a>
                    </div>

                  </div>
                </div>
                <div class="container">
                  <div class="row">

                    <div class="col-sm-4">
                      <a href="/services/managed_services/#miniads">
                        <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.2s">
                          <div id="servicesiconholder">
                            <div id="servicesicon"><img src="/assets/images/services_icons/icon_ads.png" /></div>
                          </div>
                          <h3 class="c-font-bold c-center c-font-uppercase">Application Database<br/>& Middleware Services</h3>
                          <p class="c-font-thin c-center">Complete App/Middleware/DB Functional and Technical services to drive operational excellence and business process improvements</p>
                        </div>
                      </a>
                    </div>

                    <div class="col-md-4 col-sm-6" style="margin-top: 60px;">
                      <div class="c-content-v-center c-theme-bg wow bounceInUp" data-wow-delay1="2s" data-height="height" style="width: 80%; margin-left: 10%; margin-right: 10%;">
                        <div class="c-wrapper">
                          <div class="c-body c-center" style="padding-top: 40px; padding-bottom: 40px;">
                            <h3 class="c-font-17 c-line-height-28 c-font-white c-font-bold">
                              Data Intensity's Professional<br>and Managed Services are<br>focused on strategy,<br>optimization and operations<br>of the full life cycle<br>of enterprise workloads<br>on any cloud platform
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-4 c-card">
                      <a href="/services/managed_services/#minicims">
                        <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.4s">
                          <div id="servicesiconholder">
                            <div id="servicesicon"><img src="/assets/images/services_icons/icon_cims.png" /></div>
                          </div>
                          <h3 class="c-font-bold c-center c-font-uppercase">Cloud & Infrastructure<br/>Managed Services</h3>
                          <p class="c-font-thin c-center">Design, Implementation and Support of core cloud services powering your enterprise workloads across IaaS/PaaS and SaaS platforms.</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END: CONTENT/FEATURES/FEATURES-1 -->
              <!-- BEGIN: CONTENT/PRICING/PRICING-1 -->
              <div class="c-content-box c-size-md" style="background-color:#464646;">
                <div class="container">
                  <div class="c-content-pricing-1">
                    <div class="c-content-title-1">
                      <h3 class="c-center c-font-uppercase c-font-bold" style="color:#ffffff !important;">Service Levels</h3>
                      <div class="c-line-center"></div>
                    </div>
                    <div class="c-tile-container">
                      <div class="c-tile c-tile-small wow animate fadeInLeft">
                        <div class="c-label c-theme-bg c-font-thin" style="padding:15px; font-size: 14px; display: none;">Silver</div>
                        <p class="c-center c-font-uppercase" style="font-size: 26px;">Amplified Service</p>
                        <p class="" style="width: 80%; margin-left: 10%;"><br/>Data Intensity's remote reactive break-fix services for functional and/or technical application & database solutions are tailored to your environment. The Amplified Service package is the perfect complement to your existing skill-set and team capabilities.<br/><br/>
                          <ul style="text-align: left; margin-left: 10px; width:80%; font-size:15px;">
                            <li>Fixed Scope & Rate-Card Services</li>
                            <li>Optional Functional Development Services</li>
                            <li>Named Customer Success Manager</li>
                            <li>ECM Monitoring Integration</li>
                            <li>Secure Remote Connectivityt</li>
                            <li>Customer-Directed Problem Management</li>
                            <li>Break-Fix baseline environment mapping</li>
                            <li>Monthly Reporting</li>
                            <li>Response Time SLA</li>
                            <br/>
                          </ul></p>
                          <a href="/contact#contactus" class="btn btn-md c-btn-square c-btn-border-2x c-btn-regular c-btn-uppercase c-btn-bold">Contact Us</a>
                        </div>
                        <div class="c-tile c-bg-datacolour wow animate fadeInUp">
                          <div class="c-label c-font-thin" style="background-color:#ffffff; color:#1ccfc9; padding:15px; font-size: 14px; display: none;">Gold</div>
                          <p class="c-center c-font-uppercase" style="font-size: 26px; color: #ffffff;">Integrated Service<br/>Management</p>
                          <p class="" style=" color: #ffffff; width: 80%; margin-left: 10%;"><br/>Data Intensity's remote proactive services model provides for remote, proactive solution management services for enhanced operations, reporting, and ITSM integration to proactively maintain existing application and database environments for optimal performance & availability.<br/><br/>
                            <ul style="text-align: left; margin-left: 10px; width:80%; color: #ffffff; font-size:15px;">
                              <li>Fixed Scope & Rate-Card Services</li>
                              <li>Optional Functional Development Services</li>
                              <li>Named Customer Success Manager</li>
                              <li>Active Remote Environment Monitoring</li>
                              <li>Secure Remote Connectivity</li>
                              <li>Adds Performance Monitoring, Patch-Levels Management, Security</li>
                              <li>Custom Operational Run-Book & ITSM Integration</li>
                              <li>Monthly & Quarterly Reporting</li>
                              <li>Enhanced Response Time SLA</li>
                            </ul></p>
                            <a href="/contact#contactus" class="btn btn-md c-btn-square c-btn-border-2x c-btn-regular c-btn-uppercase c-btn-bold" style="border-color: #ffffff;  color: #ffffff;">Contact Us</a>
                          </div>
                          <div class="c-tile c-tile-small wow animate fadeInRight">
                            <div class="c-label c-theme-bg c-font-thin" style="padding:15px; font-size: 14px; display: none;">Platinum</div>
                            <p class="c-center c-font-uppercase" style="font-size: 26px;">Total Service<br/>Management</p>
                            <p class="" style=" width: 80%; margin-left: 10%;"><br/>Data Intensity's full stack management services includes all operational services covering the full complement of ITIL Modules, plus functional application and advanced database services for your unique solution hosted on a Data Intensity cloud platform.<br/><br/>
                              <ul style="text-align: left; margin-left: 10px; width:80%; font-size:15px;">
                                <li>Full Stack Hosted Applications & RDBMS Management</li>
                                <li>Optional Functional Development Services</li>
                                <li>Named Customer Success Manager </li>
                                <li>Full Cloud Management</li>
                                <li>Full-Stack Security Management</li>
                                <li>Active Full-Stack ITIL Management</li>
                                <li>Custom Operational Run-Book & Enhanced ITSM Integration</li>
                                <li>Weekly & Quartely Reporting</li>
                                <li>Availability & Enhanced Response Time SLA</li>
                              </ul></p>
                              <a href="/contact#contactus" class="btn btn-md c-btn-square c-btn-border-2x c-btn-regular c-btn-uppercase c-btn-bold">Contact Us</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END: CONTENT/PRICING/PRICING-1 -->
                    <!-- END: PAGE CONTENT -->
                  </div>
                  <!-- END: PAGE CONTAINER -->


                  {% include form.html %}
                  {% include footer6.html %}
